
/* HEADER*/
.custom-header {
    background-color: lightgrey;
    border-radius: 20px;
}


.custom-logo {
    width: 300px; /* Set the desired width of the logo */
    height: auto; /* Maintain aspect ratio */
    padding: 10px;
}

.powered-by-logo {
    display: flex;
    padding: 10px;

}

.logosap-img {
    width: 50px; /* Adjust the width to make the image smaller */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Add some spacing between text and image */

}

.powered-by-text {
    font-weight: bold; /* Make the text bold */

}


/* INDEX WELCOME */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.custom-background-container {
    background: url('images/index.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-header {
    font-size: 70px; 
}

.custom-content {
    text-align: center;
    color: white;
    font-size: 20px;
}

.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #30c637;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #17a2b8;
    color: #fff;
    text-decoration: none;
}

/* FOOTER CONTENT */


.partner-logo {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
}

/* Additional styles for Swiper */
.swiper-container {
    width: 100%;
    padding-top: 20px; /* Adjust as needed */
    padding-bottom: 20px; /* Adjust as needed */
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* LOGIN CONTAINER */

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height instead of height for responsiveness */
    padding: 0 20px; /* Add horizontal padding to create space on the sides */
    box-sizing: border-box; /* Include padding in total width/height calculations */
    margin-top: -200px; /* Adjust the margin to bring the container closer to the navbar */
    margin-bottom: -80px; /* Adjust the margin to bring the container closer to the footer */
    margin-left: -100px;
}

.login-container {
    max-width: 400px; /* Set a reasonable maximum width for the container */
    width: 100%; /* Make sure the container takes full width of its parent */
    padding: 20px; /* Add padding for spacing around the content */
    text-align: center; /* Center text elements within the container */
    border-radius: 10px;
    background-color: #ffffff; /* Set a background color for the container */
}


.login-bg {
    background-color: #f5f5f5; /* Set the desired background color for the form background */
    border-radius: 10px;
    padding: 60px; /* Add padding to the form background to create space around the content */
    margin-left: 200px; /* You can adjust the left margin as needed */
}


/* Custom button styles */
.btn-login {
    padding: 10px 20px;
    background-color: #30c637; /* You can use any color you prefer */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #17a2b8; /* You can change the hover color if desired */
}



/* SIGNUP CONTAINER */
.signup-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto;
}

.signup-bg {
    padding: 40px; /* Add padding to the form background to create space around the content */
}

/* Style the form elements as needed */
.form_signup {
    text-align: center; /* Center form elements within the form */
}


/* Custom button styles */
.btn-register {
    padding: 10px 20px;
    background-color: #30c637; /* You can use any color you prefer */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-register:hover {
    background-color: #17a2b8; /* You can change the hover color if desired */
}

